@model OrganizationMVC.Models.User

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Department</dt>
        <dd>@Html.DisplayFor(model => model.Department.DepartmentName)</dd>

        <dt>Documents</dt>
        <dd>
            @if (Model.UserDocuments != null && Model.UserDocuments.Any())
            {
                <ul>
                    @foreach (var doc in Model.UserDocuments)
                    {
                        <li>
                            @doc.FileName 
                            (@Html.ActionLink("Download", "DownloadDocument", new { id = doc.UserDocumentId }))
                        </li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted">No documents uploaded.</span>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
