@model OrganizationMVC.Models.User

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.DepartmentId, "Select Department", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Documents", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.UserDocuments != null && Model.UserDocuments.Any())
                {
                    <table class="table table-bordered" style="margin-top: 10px;">
                        @foreach (var doc in Model.UserDocuments)
                        {
                            <tr id="doc-@doc.UserDocumentId">
                                <td>@doc.FileName</td>
                                <td>
                                    @Html.ActionLink("Download", "DownloadDocument", new { id = doc.UserDocumentId }, new { @class = "btn btn-xs btn-info" })
                                    <button type="button" onclick="deleteUserDocument(@doc.UserDocumentId)" class="btn btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                        }
                    </table>
                }
                <hr />
                <label>Add More Documents:</label>
                <input type="file" name="documents" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function deleteUserDocument(docId) {
            if (confirm("Are you sure you want to delete this document?")) {
                $.ajax({
                    url: "@Url.Action("DeleteDocument", "Users")",
                    type: "POST",
                    data: { id: docId },
                    success: function (response) {
                        if (response.success) {
                            $("#doc-" + docId).fadeOut(500, function() { $(this).remove(); });
                        } else {
                            alert("Error: " + response.message);
                        }
                    }
                });
            }
        }
    </script>
}
